{% extends "main.html" %}

{% block body %}
    <a href="/">
        <h1>Check my domain</h1>
    </a>

    <form action="/" method="post">
        <input name="domain" type="text" placeholder="www.google.com" required>

        <input type="submit" value="check">
    </form>

    {% match certificate %}
        {% when Some with (cert) %}
            <div class="result">    
            
                <dt>Not before : </dt>
                <dd>{{ cert.not_before() }}</dd>

                <dt>Not after</dt>
                <dd>{{ cert.not_after() }}</dd>
            </div>
        {% when None %}
    {% endmatch %}
{% endblock %}