{% extends "main.html" %}

{% block body %}

    <h2>Hello from the template </h2>

    <form action="/" method="post">
        <input name="domain" type="text" placeholder="www.google.com">

        <input type="submit" value="check">
    </form>

    {% match certificate %}
        {% when Some with (cert) %}
            <dt>Domain</dt>
            <dd>{{ cert.domain }}</dd>

            <dt>Not before : </dt>
            <dd>{{ cert.not_before }}</dd>

            <dt>Not after</dt>
            <dd>{{ cert.not_after }}</dd>
        {% when None %}
    {% endmatch %}
{% endblock %}